<!doctype html>
<html lang="en" ng-app="noExcel">
<head>
  <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <title>NoExcel</title>
  <link rel="stylesheet" href="css/angular-material.css"/>
    <link rel="stylesheet" href="css/themes/green-theme.css">
  <link rel="stylesheet" href="css/signin.css"/>
  <link rel="stylesheet" href="css/style.css">

  <link rel="shortcut icon" type="image/x-icon" href="img/no-excel.png"/>


</head>
<body layout="column" >
<md-content layout="column" layout-align="center center" layout-align="top center" class="signin">
    <div class="app-content">
        <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools" layout="text-center">
                Login do Usuário
            </h1>
        </md-toolbar>
        <div class="card card-signin">
            <img class="img-circle profile-img" src="img/no-excel.png">
            <div class="form-control-wrapper">
                <form name="loginForm" ng-submit="login()" novalidate>
                    <md-input-container>
                        <label>Usuário</label>
                        <input type="text" ng-required="true" name="username" ng-model="user.username">
                        <div ng-messages="loginForm.username.$error" ng-show="loginForm.username.$invalid && loginForm.username.$touched">
                            <div ng-message="required">Campo Usuário deve ser preenchido.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Senha</label>
                        <input type="password" ng-required="true" name="password" ng-model="user.password">
                        <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$invalid && loginForm.password.$touched">
                            <div ng-message="required">Campo Senha deve ser preenchido.</div>
                        </div>
                    </md-input-container>
                    <div class="loginBtn">
                        <md-button type="submit" class="md-raised md-primary">Entrar</md-button>
                    </div>

                    <div class="checkbox">
                        <md-checkbox ng-model="loginForm.remember" aria-label="Lembrar Login" ng-true-value="'yes'" ng-false-value="'nope'" class="md-primary">
                            Continuar logado
                        </md-checkbox>

                    </div>
                </form>
            </div>
        </div>
    </div>
</md-content>
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-aria.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/lib/hammer.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-material.js"></script>
    <script type="text/javascript" src="js/lib/angular-messages.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/registration.js"></script>
</body>
</html>